<div class="user">
  <h2><%= @user.name %></h2>
  <h3><%= @user.wish_title %></h3>
  <%= render @wishes %>
  <h3><%= @user.material_title %></h3>
  <%= render @materials %>
</div>

<% if @user == current_user %>
  <div class="matches">
    <h2>Correspondências</h2>
    <h3>Materiais que quero</h3>
    <% @wishes_matches.each do |match| %>
      <% if !match.blank? %>
        <p>Produto: <%= match.product %></p>
        <p>Quem quer trocar: <%= link_to match.user.name, user_path(match.user_id) %></p>
      <% end %>
    <% end %>
    <h3>Materiais que tenho</h3>
    <% @materials_matches.each do |match| %>
      <% if !match.blank? %>
        <p>Produto: <%= match.product %></p>
        <p>Quem quer trocar: <%= link_to match.user.name, user_path(match.user_id) %></p>
      <% end %>
    <% end %>
  </div>
<% end %>
