<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <%= link_to 'Troca Materiais', root_path, class: 'brand-logo' %>
      <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <ul id="dropdown1" class="dropdown-content">
            <%= render current_user.notifications.order('created_at DESC') %>
          </ul>
          <li>
            <a class="dropdown-button" href="#!" data-activates="dropdown1">
              Notificações: <%= current_user.notifications.count %>
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
          </li>
          <li><%= link_to 'Meu perfil', current_user %></li>
          <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Entrar', new_user_session_path %></li>
          <li><%= link_to 'Criar conta', new_user_registration_path %></li>
        <% end %>
      </ul>
      <ul id="mobile-nav" class="side-nav">
        <% if user_signed_in? %>
          <li>Notificações: <%= current_user.notifications.count %></li>
          <li><%= link_to 'Meu perfil', current_user %></li>
          <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Entrar', new_user_session_path %></li>
          <li><%= link_to 'Criar conta', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
