<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <%= link_to 'Troca Materiais', root_path, class: 'brand-logo' %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li>Notificações: <%= current_user.notifications.count %></li>
          <li><%= link_to 'Meu perfil', current_user %></li>
          <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Entrar', new_user_session_path %></li>
          <li><%= link_to 'Criar conta', new_user_registration_path %></li>
        <% end %>
      </ul>
      <ul id="mobile-demo" class="side-nav">
        <li><%= link_to 'Entrar', new_user_session_path %></li>
        <li><%= link_to 'Criar conta', new_user_registration_path %></li>
      </ul>
    </div>
  </nav>
</div>
