<!DOCTYPE html>
<html>
  <head>
    <title>Materiais</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:alert] %>
      <p class= 'alert'><%= alert %> </p>
    <% end %>
    <% if flash[:notice] %>
      <p class= 'notice'><%= notice %> </p>
    <% end %>
    <%= yield %>
  </body>
</html>
